git+https://github.com/pyrogram/pyrogram@master
tgcrypto
youtube-search
yt-dlp
py-tgcalls
python-dotenv
youtube-search-python
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
dnspython
heroku3
gitpython
telegraph # for telegra.ph file module 
lyricsgenius # for lyrics
python-telegram-bot
spotipy # For Spotify Downloader 2
eyeD3 - Spotify
